  /*
    Flaticon icon font: Flaticon
    Creation date: 08/09/2018 00:19
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-email:before { content: "\f100"; }
.flaticon-email-1:before { content: "\f101"; }
.flaticon-email-2:before { content: "\f102"; }
.flaticon-call:before { content: "\f103"; }
.flaticon-telephone:before { content: "\f104"; }
.flaticon-call-1:before { content: "\f105"; }
.flaticon-clock:before { content: "\f106"; }
.flaticon-clock-1:before { content: "\f107"; }
.flaticon-stethoscope:before { content: "\f108"; }
.flaticon-stethoscope-1:before { content: "\f109"; }
.flaticon-heartbeat:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-calendar-1:before { content: "\f10c"; }
.flaticon-doctor:before { content: "\f10d"; }
.flaticon-mask:before { content: "\f10e"; }
.flaticon-customer:before { content: "\f10f"; }
.flaticon-wheelchair:before { content: "\f110"; }
.flaticon-wheelchair-1:before { content: "\f111"; }
.flaticon-dermatitis:before { content: "\f112"; }
.flaticon-dermatology:before { content: "\f113"; }
.flaticon-cracked-skin:before { content: "\f114"; }
.flaticon-cannula:before { content: "\f115"; }
.flaticon-surgery:before { content: "\f116"; }
.flaticon-scalpel:before { content: "\f117"; }
.flaticon-ambulance:before { content: "\f118"; }
.flaticon-ambulance-1:before { content: "\f119"; }
.flaticon-ribbon:before { content: "\f11a"; }
.flaticon-oncology:before { content: "\f11b"; }
.flaticon-stomachache:before { content: "\f11c"; }
.flaticon-oxygen:before { content: "\f11d"; }
.flaticon-department:before { content: "\f11e"; }
.flaticon-department-1:before { content: "\f11f"; }
.flaticon-cashier:before { content: "\f120"; }
.flaticon-servant:before { content: "\f121"; }
.flaticon-servant-1:before { content: "\f122"; }
.flaticon-nurse:before { content: "\f123"; }
.flaticon-nurse-1:before { content: "\f124"; }
.flaticon-waiter:before { content: "\f125"; }
.flaticon-location:before { content: "\f126"; }
.flaticon-location-1:before { content: "\f127"; }
.flaticon-coronavirus:before { content: "\f128"; }
.flaticon-mask-1:before { content: "\f129"; }
.flaticon-bacteria:before { content: "\f12a"; }
.flaticon-ambulance-2:before { content: "\f12b"; }
.flaticon-test:before { content: "\f12c"; }
.flaticon-washing-hands:before { content: "\f12d"; }
.flaticon-tooth:before { content: "\f12e"; }
.flaticon-insurance:before { content: "\f12f"; }
.flaticon-heart:before { content: "\f130"; }
.flaticon-heart-1:before { content: "\f131"; }
.flaticon-dental-checkup:before { content: "\f132"; }
.flaticon-dental-care:before { content: "\f133"; }
.flaticon-neurology:before { content: "\f134"; }
.flaticon-brain:before { content: "\f135"; }
.flaticon-thinking:before { content: "\f136"; }
.flaticon-neurology-1:before { content: "\f137"; }
.flaticon-kidneys:before { content: "\f138"; }
.flaticon-kidney:before { content: "\f139"; }
.flaticon-blood-tube:before { content: "\f13a"; }